services:
  web:
    build: .
    ports:
      - "8082:80"
    volumes:
      - ./src:/app/src # Optional: For checking code if volume mapped in dev mode, though build stage is static
    environment:
      - VITE_SEC_API_KEY=${VITE_SEC_API_KEY}
